* {
  font-family: Arial, Helvetica, sans-serif;
}
@font-face {
  font-family: "Calculator";
  src: url("Calculator.eot");
  src:
    url("./fonts/Calculator.eot?#iefix") format("embedded-opentype"),
    url("./fonts/Calculator.woff2") format("woff2"),
    url("./fonts/Calculator.woff") format("woff"),
    url("./fonts/Calculator.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  /* font-display: swap; */
}

body {
  padding-top: 50px;
}

.container {
  width: 300px;
  background-color: grey;
  padding: 30px;
  margin: auto;
}

.title {
  text-align: center;
}

input {
  display: block;
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid black;
  margin-top: 10px;
}

.amount {
  display: inline-block;
  border: 1px solid black;
  background-color: blue;
  padding: 1px 5px;
  margin: 0 5px;
  border-radius: 3px;
  color: #fff;
}

#price {
  margin-bottom: 10px;
}

.total {
  font-family: Arial, Helvetica, sans-serif;
  text-align: right;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 0;
}

.calc {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
  width: 215px;
  padding: 15px;
  background-color: greenyellow;
  border: 1px solid rgba(3, 101, 214, 0.7);
  border-radius: 10px;
  box-shadow: rgba(3, 101, 214, 0.7) 0px 0px 0px 3px;
  margin: 50px auto;
}
.display {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 215px;
  overflow: hidden;
  height: 40px;
  padding: 5px 8px 5px 8px;
  background-color: rgba(252, 235, 235, 0.699);
  border: 1px solid rgba(3, 101, 214, 0.7);
  border-radius: 10px;
  box-shadow:
    rgba(3, 101, 214, 0.7) 0px 0px 0px 3px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}
.number {
  display: inline-block;
  font-family: "Calculator";
  font-size: 40px;
  font-weight: 500;
  line-height: 30px;
  width: 200px;
  padding-right: 2px;
  padding-left: 2px;
  text-align: right;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis "[..]";
}

.btn-list {
  display: flex;
  width: 215px;
  height: 270px;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 5px;
}

.btn-item {
  flex: 1 1 auto;
}

.first-btn-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.second-btn-list {
  display: flex;
  width: 160px;
  flex-wrap: wrap;
  align-items: center;
  gap: 5px;
}

.second-btn-list > .button:nth-last-child(2) {
  width: 93px;
}

.third-btn-list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
}

.third-btn-list > .button:nth-last-child(-n + 2) {
  height: 93px;
}
.third-btn-list > .button:nth-last-child(1) {
  font-size: 16px;
  font-weight: bold;
}

.button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 4px;
  font-size: 24px;
  background-color: bisque;
  box-shadow:
    rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
    rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  user-select: none;
}

.button:focus {
  box-shadow:
    rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: opacity 0.3s;
}

.button:active::before {
  opacity: 1;
}
